/stepik-autotesting-last-call/
/conftest.py
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.idea/stepik-autotesting-last-call.iml
/.idea/.gitignore
